{% extends 'Topics/general.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="container row" style="padding-top: 20px">
        <div class="card col s6 offset-s3" style="padding: 20px">
            <h4>Forgot Password</h4>
            <form method="POST">
                {% csrf_token %}
                Please specify your email to receive instructions
                {% if form.errors.email %}
                    {{ form.errors.email }}
                {% endif %}
                <div class="input-field">
                    {{ form.email }}
                    <label>{{ form.email.label }}</label>
                </div>
                <input type="submit" value="Submit" class="btn right">
            </form>
        </div>
    </div>
{% endblock %}