/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > div {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.errorlist li {
    color: red;
}

#user_dropdown {
    min-width: 160px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}

.row {
    margin-bottom: 0;
}