/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > div {
    flex: 1 0 auto;
}