  
{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
  <h2> <center> <i> Login </i> </center> </h2>
  <form method="post" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login-button">Login</button>
  </form>

   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
{% endblock %}